-- MariaDB dump 10.19  Distrib 10.10.3-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: test
-- ------------------------------------------------------
-- Server version	10.10.3-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aktivitas_medis`
--

DROP TABLE IF EXISTS `aktivitas_medis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aktivitas_medis` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `id_aktivitas` int(11) NOT NULL,
  `harga_aktivitas` int(11) NOT NULL,
  `no_lisensi_perawat` char(26) NOT NULL,
  `no_lisensi_dokter` char(26) NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`,`id_aktivitas`),
  KEY `no_lisensi_perawat` (`no_lisensi_perawat`),
  KEY `no_lisensi_dokter` (`no_lisensi_dokter`),
  CONSTRAINT `aktivitas_medis_ibfk_1` FOREIGN KEY (`id_pasien`, `id_rekam_medis`) REFERENCES `rekam_medis` (`id_pasien`, `id_rekam_medis`),
  CONSTRAINT `aktivitas_medis_ibfk_2` FOREIGN KEY (`no_lisensi_perawat`) REFERENCES `perawat` (`no_lisensi`),
  CONSTRAINT `aktivitas_medis_ibfk_3` FOREIGN KEY (`no_lisensi_dokter`) REFERENCES `dokter` (`no_lisensi`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aktivitas_medis`
--

LOCK TABLES `aktivitas_medis` WRITE;
/*!40000 ALTER TABLE `aktivitas_medis` DISABLE KEYS */;
/*!40000 ALTER TABLE `aktivitas_medis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asuransi`
--

DROP TABLE IF EXISTS `asuransi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asuransi` (
  `nama_asuransi` varchar(50) NOT NULL,
  `no_telepon` varchar(50) DEFAULT NULL,
  `nama_kontak` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`nama_asuransi`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asuransi`
--

LOCK TABLES `asuransi` WRITE;
/*!40000 ALTER TABLE `asuransi` DISABLE KEYS */;
/*!40000 ALTER TABLE `asuransi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departemen`
--

DROP TABLE IF EXISTS `departemen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departemen` (
  `id_dept` char(5) NOT NULL,
  `nama_dept` varchar(50) NOT NULL,
  `aset` decimal(13,2) DEFAULT NULL,
  PRIMARY KEY (`id_dept`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departemen`
--

LOCK TABLES `departemen` WRITE;
/*!40000 ALTER TABLE `departemen` DISABLE KEYS */;
INSERT INTO `departemen` VALUES
('DPT01','Bedah',100000.00),
('DPT02','Urologi',200000.00),
('DPT03','Dermatologi',300000.00),
('DPT04','Kesehatan Anak',400000.00),
('DPT05','Kesehatan Jiwa',500000.00),
('DPT06','Gigi dan Mulut',600000.00),
('DPT07','Mikrobiologi dan Gizi',700000.00),
('DPT08','Kebidanan dan Kandungan',800000.00),
('DPT09','Penyakit Dalam dan Saraf',900000.00),
('DPT10','THT (Telinga, Hidung, dan Tenggorokan)',1000000.00);
/*!40000 ALTER TABLE `departemen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dokter`
--

DROP TABLE IF EXISTS `dokter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dokter` (
  `no_lisensi` char(26) NOT NULL,
  `spesialisasi` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`no_lisensi`),
  CONSTRAINT `dokter_ibfk_1` FOREIGN KEY (`no_lisensi`) REFERENCES `tenaga_medis` (`no_lisensi`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokter`
--

LOCK TABLES `dokter` WRITE;
/*!40000 ALTER TABLE `dokter` DISABLE KEYS */;
/*!40000 ALTER TABLE `dokter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fasilitas`
--

DROP TABLE IF EXISTS `fasilitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fasilitas` (
  `id_kelas` int(11) NOT NULL,
  `nama_fasilitas` varchar(50) NOT NULL,
  PRIMARY KEY (`id_kelas`,`nama_fasilitas`),
  CONSTRAINT `fasilitas_ibfk_1` FOREIGN KEY (`id_kelas`) REFERENCES `kelas_kamar` (`id_kelas`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fasilitas`
--

LOCK TABLES `fasilitas` WRITE;
/*!40000 ALTER TABLE `fasilitas` DISABLE KEYS */;
/*!40000 ALTER TABLE `fasilitas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kamar`
--

DROP TABLE IF EXISTS `kamar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kamar` (
  `lantai` int(11) NOT NULL,
  `no_kamar` int(11) NOT NULL,
  `id_kelas` int(11) DEFAULT NULL,
  `kapasitas_tersisa` int(11) DEFAULT NULL,
  PRIMARY KEY (`lantai`,`no_kamar`),
  KEY `id_kelas` (`id_kelas`),
  CONSTRAINT `kamar_ibfk_1` FOREIGN KEY (`id_kelas`) REFERENCES `kelas_kamar` (`id_kelas`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kamar`
--

LOCK TABLES `kamar` WRITE;
/*!40000 ALTER TABLE `kamar` DISABLE KEYS */;
/*!40000 ALTER TABLE `kamar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas_kamar`
--

DROP TABLE IF EXISTS `kelas_kamar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelas_kamar` (
  `id_kelas` int(11) NOT NULL,
  `nama_kelas` varchar(50) DEFAULT NULL,
  `kapasitas` int(11) DEFAULT NULL,
  `biaya_per_malam` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_kelas`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas_kamar`
--

LOCK TABLES `kelas_kamar` WRITE;
/*!40000 ALTER TABLE `kelas_kamar` DISABLE KEYS */;
INSERT INTO `kelas_kamar` VALUES
(1,'VVIP',1,2250000),
(2,'VIP',1,1350000),
(3,'A',2,650000),
(4,'B',4,300000),
(5,'C',6,200000);
/*!40000 ALTER TABLE `kelas_kamar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratorium`
--

DROP TABLE IF EXISTS `laboratorium`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `laboratorium` (
  `id_lab` int(11) NOT NULL,
  `nama_lab` varchar(50) DEFAULT NULL,
  `nama_kepala` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_lab`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratorium`
--

LOCK TABLES `laboratorium` WRITE;
/*!40000 ALTER TABLE `laboratorium` DISABLE KEYS */;
INSERT INTO `laboratorium` VALUES
(1,'Bacteriology','Elizabet Hammarberg'),
(2,'Virology','Inglebert Heino'),
(3,'Mycology','Andrea Hirsthouse'),
(4,'Histopathology','Alejoa Tweedlie'),
(5,'Immunology','Oby Chattell'),
(6,'Cytology','Sydel Dils'),
(7,'Parasitology','Ara Liddon'),
(8,'Biochemical Analysis','Jess Dominguez'),
(9,'Haematology','Benoit Gait'),
(10,'Hormonal Analysis','Ana Dobbinson');
/*!40000 ALTER TABLE `laboratorium` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pasien`
--

DROP TABLE IF EXISTS `pasien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pasien` (
  `id_pasien` int(11) NOT NULL,
  `nama_depan` varchar(50) DEFAULT NULL,
  `nama_belakang` varchar(50) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `jenis_kelamin` varchar(50) DEFAULT NULL,
  `jalan` varchar(50) DEFAULT NULL,
  `desa_kelurahan` varchar(50) DEFAULT NULL,
  `kecamatan` varchar(50) DEFAULT NULL,
  `kabupaten_kota` varchar(50) DEFAULT NULL,
  `provinsi` varchar(50) DEFAULT NULL,
  `no_telepon` int(11) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `nama_kontak_darurat` varchar(50) DEFAULT NULL,
  `nomor_kontak_darurat` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_pasien`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pasien`
--

LOCK TABLES `pasien` WRITE;
/*!40000 ALTER TABLE `pasien` DISABLE KEYS */;
/*!40000 ALTER TABLE `pasien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengobatan`
--

DROP TABLE IF EXISTS `pengobatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengobatan` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `id_aktivitas` int(11) NOT NULL,
  `jenis_pengobatan` varchar(50) DEFAULT NULL,
  `nama_obat` varchar(50) DEFAULT NULL,
  `dosis` varchar(100) DEFAULT NULL,
  `tanggal_mulai` date DEFAULT NULL,
  `jam_mulai` time DEFAULT NULL,
  `tanggal_selesai` date DEFAULT NULL,
  `jam_selesai` time DEFAULT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`,`id_aktivitas`),
  CONSTRAINT `pengobatan_ibfk_1` FOREIGN KEY (`id_pasien`, `id_rekam_medis`, `id_aktivitas`) REFERENCES `aktivitas_medis` (`id_pasien`, `id_rekam_medis`, `id_aktivitas`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengobatan`
--

LOCK TABLES `pengobatan` WRITE;
/*!40000 ALTER TABLE `pengobatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengobatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perawat`
--

DROP TABLE IF EXISTS `perawat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perawat` (
  `no_lisensi` char(26) NOT NULL,
  PRIMARY KEY (`no_lisensi`),
  CONSTRAINT `perawat_ibfk_1` FOREIGN KEY (`no_lisensi`) REFERENCES `tenaga_medis` (`no_lisensi`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perawat`
--

LOCK TABLES `perawat` WRITE;
/*!40000 ALTER TABLE `perawat` DISABLE KEYS */;
/*!40000 ALTER TABLE `perawat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perawatan`
--

DROP TABLE IF EXISTS `perawatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perawatan` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `lantai` int(11) NOT NULL,
  `no_kamar` int(11) NOT NULL,
  `tanggal_masuk` date NOT NULL,
  `tanggal_keluar` date NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`,`lantai`,`no_kamar`),
  KEY `lantai` (`lantai`,`no_kamar`),
  CONSTRAINT `perawatan_ibfk_1` FOREIGN KEY (`id_pasien`, `id_rekam_medis`) REFERENCES `rekam_medis` (`id_pasien`, `id_rekam_medis`),
  CONSTRAINT `perawatan_ibfk_2` FOREIGN KEY (`lantai`, `no_kamar`) REFERENCES `kamar` (`lantai`, `no_kamar`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perawatan`
--

LOCK TABLES `perawatan` WRITE;
/*!40000 ALTER TABLE `perawatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `perawatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permohonan`
--

DROP TABLE IF EXISTS `permohonan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permohonan` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `id_permohonan` int(11) NOT NULL,
  `nominal` int(11) NOT NULL,
  `nama_asuransi` varchar(50) NOT NULL,
  `status` varchar(10) NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`,`id_permohonan`),
  KEY `id_rekam_medis` (`id_rekam_medis`),
  KEY `nama_asuransi` (`nama_asuransi`),
  CONSTRAINT `permohonan_ibfk_1` FOREIGN KEY (`id_pasien`) REFERENCES `rekam_medis` (`id_pasien`),
  CONSTRAINT `permohonan_ibfk_2` FOREIGN KEY (`id_rekam_medis`) REFERENCES `rekam_medis` (`id_pasien`),
  CONSTRAINT `permohonan_ibfk_3` FOREIGN KEY (`nama_asuransi`) REFERENCES `asuransi` (`nama_asuransi`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permohonan`
--

LOCK TABLES `permohonan` WRITE;
/*!40000 ALTER TABLE `permohonan` DISABLE KEYS */;
/*!40000 ALTER TABLE `permohonan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prosedur`
--

DROP TABLE IF EXISTS `prosedur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prosedur` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `id_aktivitas` int(11) NOT NULL,
  `jenis_prosedur` varchar(25) NOT NULL,
  `tanggal_prosedur` date NOT NULL,
  `jam_prosedur` time NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`,`id_aktivitas`),
  CONSTRAINT `prosedur_ibfk_1` FOREIGN KEY (`id_pasien`, `id_rekam_medis`, `id_aktivitas`) REFERENCES `aktivitas_medis` (`id_pasien`, `id_rekam_medis`, `id_aktivitas`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prosedur`
--

LOCK TABLES `prosedur` WRITE;
/*!40000 ALTER TABLE `prosedur` DISABLE KEYS */;
/*!40000 ALTER TABLE `prosedur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rekam_medis`
--

DROP TABLE IF EXISTS `rekam_medis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rekam_medis` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `tanggal_masuk` date NOT NULL,
  `tanggal_keluar` date NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`),
  CONSTRAINT `rekam_medis_ibfk_1` FOREIGN KEY (`id_pasien`) REFERENCES `pasien` (`id_pasien`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rekam_medis`
--

LOCK TABLES `rekam_medis` WRITE;
/*!40000 ALTER TABLE `rekam_medis` DISABLE KEYS */;
/*!40000 ALTER TABLE `rekam_medis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenaga_medis`
--

DROP TABLE IF EXISTS `tenaga_medis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenaga_medis` (
  `no_lisensi` char(26) NOT NULL,
  `id_dept` char(5) NOT NULL,
  `nama_depan` varchar(20) NOT NULL,
  `nama_belakang` varchar(20) DEFAULT NULL,
  `tanggal_lahir` date NOT NULL,
  `no_telepon` varchar(12) NOT NULL,
  `nama_jalan` varchar(30) NOT NULL,
  `desa_kelurahan` varchar(30) NOT NULL,
  `kecamatan` varchar(20) NOT NULL,
  `kabupaten_kota` varchar(20) NOT NULL,
  `provinsi` varchar(20) NOT NULL,
  `tipe` varchar(20) NOT NULL,
  PRIMARY KEY (`no_lisensi`),
  KEY `id_dept` (`id_dept`),
  CONSTRAINT `tenaga_medis_ibfk_1` FOREIGN KEY (`id_dept`) REFERENCES `departemen` (`id_dept`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenaga_medis`
--

LOCK TABLES `tenaga_medis` WRITE;
/*!40000 ALTER TABLE `tenaga_medis` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenaga_medis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tes_laboratorium`
--

DROP TABLE IF EXISTS `tes_laboratorium`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tes_laboratorium` (
  `id_pasien` int(11) NOT NULL,
  `id_rekam_medis` int(11) NOT NULL,
  `id_aktivitas` int(11) NOT NULL,
  `jenis_tes` varchar(50) DEFAULT NULL,
  `tanggal_tes` date DEFAULT NULL,
  `jam_tes` time DEFAULT NULL,
  `hasil_tes` varchar(50) DEFAULT NULL,
  `id_lab` int(11) NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_rekam_medis`,`id_aktivitas`),
  KEY `id_lab` (`id_lab`),
  CONSTRAINT `tes_laboratorium_ibfk_1` FOREIGN KEY (`id_pasien`, `id_rekam_medis`, `id_aktivitas`) REFERENCES `aktivitas_medis` (`id_pasien`, `id_rekam_medis`, `id_aktivitas`),
  CONSTRAINT `tes_laboratorium_ibfk_2` FOREIGN KEY (`id_lab`) REFERENCES `laboratorium` (`id_lab`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tes_laboratorium`
--

LOCK TABLES `tes_laboratorium` WRITE;
/*!40000 ALTER TABLE `tes_laboratorium` DISABLE KEYS */;
/*!40000 ALTER TABLE `tes_laboratorium` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-04-11 20:04:25
